body {
  margin: 0;
  background-color: rgba(27, 21, 21, 0.942);
  overflow: hidden;
}

.title {
  height: 60px;
  background-color: rgb(17, 15, 15);
  color: rgb(154, 8, 190);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 2;
  align-items: center;
}


.reset-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -20px;
  cursor: pointer;
  background: rgb(18, 58, 77);
  color: rgb(251, 11, 11);
}

.top-pane {
  background-color: rgba(27, 21, 21, 0.942);
  color: white;
}

.pane {
  height: 44.7vh;
  display: flex;
  background-color: rgba(27, 21, 21, 0.942);
}

.bottom-pane {
  background-color: white;
  border-radius: 7px;
  margin: 4px;
  border: 3px solid rgb(0, 21, 157);
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: rgba(27, 21, 21, 0.942);
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: rgba(12, 0, 0, 0.942);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

.expand-collapse-btn {
  border-radius: 7px;
  padding-top: 2px;
  margin-left: .5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}